/* Common components */

a {
	padding: 8px 16px;
	text-decoration: none;
	color: inherit;
}

.user-menu li,
.pagination-menu li,
nav li {
	padding: 1px 1px;
	border-radius: 4px;
	display: inline;
}

.user-menu li:hover,
.pagination-menu li:hover,
nav li:hover {
	color: white;
	background-color: #8531B7;
}

/* Header components */

.user-menu {
	margin-right: 16px;
	float: right;
}

/* Navbar components */

nav {
	padding: 1px 0px;
	vertical-align: middle;
	background-color: #EAD8F5;
}

/* Form components */

#product-search-form {
	width: 240px;
}

.wizardProgress progress {
	width: 70%;
}

.loginForm,
.wizardForm,
.wizardFormTitle,
.wizardFormProgress {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wizardProgress {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.loginForm .formElement input {
	width: 180px;
}

.loginLogo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.formElement input[type="text"],
.formElement input[type="number"],
.formElement input[type="tel"],
.formElement input[type="email"],
.formElement input[type="password"] {
	width: 97%;
}

.formElement select {
	width: 100%;
}

.formRangeElement input[type="date"] {
	width: 105px;
}

.formRangeElement input[type="number"] {
	width: 105px;
}

.formElementLabel:after,
.attributeSetSelector label:after {
	content:"\a";
    white-space: pre;
}

.formElement,
.formRangeElement,
.smallFormElement,
.mediumFormElement,
.formSubmitElement {
	padding: 4px 0px;
}

.formSubmitElement {
	margin: 8px 0px;
	display: inline;
	float: right;
}

.formSubmitElement input {
	color: white;
	background-color: #8531B7;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 6px 12px;
}

.formSubmitElement input[type="reset"] {
	color: black;
	background-color: #EAD8F5;
}

.smallFormElement input {
	width: 69px;
}

.mediumFormElement input {
	width: 108px;
}

.longFormElement input {
	width: 240px;
}

.inlineFormElements {
	display: flex;
	gap: 8px;
}

.wizardForm fieldset {
	margin: 16px 0px;
}

.wizardSteps {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.columnFlex {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}