/* Common components */

a {
	padding: 8px 16px;
	text-decoration: none;
	color: inherit;
}

.user-menu li,
.pagination-menu li,
nav li {
	padding: 1px 1px;
	border-radius: 4px;
	display: inline;
}

.user-menu li:hover,
.pagination-menu li:hover,
nav li:hover {
	color: white;
	background-color: #8531B7;
}

/* Header components */

.user-menu {
	margin-right: 16px;
	float: right;
}

/* Navbar components */

nav {
	padding: 1px 0px;
	vertical-align: middle;
	background-color: #EAD8F5;
}
