<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>YourPCWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>DefaultServlet</servlet-name>
  	<servlet-class>com.pinguela.yourpc.web.controller.DefaultServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttributeServlet</servlet-name>
  	<servlet-class>com.pinguela.yourpc.web.controller.AttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DefaultServlet</servlet-name>
  	<url-pattern>/DefaultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeServlet</servlet-name>
  	<url-pattern>/AttributeServlet</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>Log</filter-name>
  	<filter-class>com.pinguela.yourpc.web.filter.LogFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>CallbackFilter</filter-name>
  	<filter-class>com.pinguela.yourpc.web.filter.CallbackFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>CustomerAuth</filter-name>
  	<filter-class>com.pinguela.yourpc.web.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>Locale</filter-name>
  	<filter-class>com.pinguela.yourpc.web.filter.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>Log</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
	<filter-name>CallbackFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
	<filter-name>CustomerAuth</filter-name>
	<url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
	<filter-name>Locale</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
  	<session-timeout>120</session-timeout>
  </session-config>
</web-app>